body {
  background-color:var(--color-beige);
  font-family: var(--font-almarai);
  color: black;
  width: 100vw;
}


.frame-child {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 0;
    height: 15vh;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 0;
  }
  .log-in {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-almarai);
    color: var(--color-gray-100);
    text-align: center;
  }
  .log-in-wrapper {
    cursor: pointer;
    border: 0;
    padding: 16px 50px;
    background-color: var(--color-teal);
    border-radius: var(--br-5xl);
    overflow: hidden;
  }
  .log-in-wrapper:hover {
    background-color: var(--color-cadetblue);
  }
  .frame-parent,
  .instance-parent,
  .log-in-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .instance-parent {
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 35.5px);
    right: 5vw;
    padding: var(--padding-3xs);
    gap: 20vw;
    z-index: 1;
  }
  .frame-parent {
    width: 100vw;
    background-color: #f8fcf2;
    height: 15vh;
    position: absolute;
    gap: var(--gap-3xs);
  }
  .intro {
    position: absolute;
    top: calc(50% + 60px); /* Adjust this value according to your design */
    left: 0;
    width: 50vw; /* Occupy full width */
    text-align: left;
    padding-left: 5vh;
    z-index: 1; /* Ensure intro is above the frame */
    font-size:20px;
}
  .heading{
    margin:0px;
    font-size: 60px;
    color: black;
    text-align: left;
  }
  .homepage{
    position: absolute;
    gap:20px;
  }
  .frame-wrapper {
    width: 30vw;
    justify-content: center;
    font-size: var(--font-size-11xl);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-item {
    border: 0;
    outline: 0;
    font-family: var(--font-almarai);
    font-size: var(--font-size-xl);
    background-color: #ebe9e9;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs);
    color: var(--color-gray-200);
  }
  .features-benefits{
    gap:0px;
  }
  .frame-icon {
    width: 40vw;
    border-style: double;
  }
  .frame-icon2 {
    width: 40vw;
  }

  .images {
    position: absolute;
    top: calc(50% + 10vh);
    right: 5vh;
    width: 50vw; /* Match the width of the intro frame */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap:5vh;
}