body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}
#map {
    width: 100%;
    height: 100%;
    z-index: 0; 
    overflow: hidden;
}
#tooltip {
  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
  z-index: 1; 
  pointer-events: none;
}
.ui-container {
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: #f6fbed8d;
    padding: 10px;
    border-radius: 5px;
    z-index: 1; 
    font-family: Helvetica;
    font-size: var(--font-size-13xl);
    font-weight: var(--font-weight-regular);
}
.camera-icon5,
.logo-icon5,
.world-icon5 {
  width: 138px;
  position: relative;
  height: 109px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.camera-icon5,
.world-icon5 {
  width: 50px;
  height: 50px;
}
.camera-icon5 {
  height: 44.4px;
}
.sidebar-frame5,
.user-icon-parent3,
.world-icon-parent3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-73xl);

}
.sidebar-frame5,
.user-icon-parent3 {
  gap: var(--gap-5xl);
}
.sidebar-frame5 {
  align-self: normal;
  justify-content: flex-start;
  gap: 175px;
  z-index: 1;
  position: absolute;
  top: 0.1px;
  left: 0.1px;
  background-color: #f6fbed8d;
}
.filters-wrapper {
  align-self: stretch;
  border-bottom: 1px solid var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
  font-size: var(--font-size-21xl);
}
.filters1{
  flex: 1;
  position: relative;
}
.log-in-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-109xl);
  background-color: var(--color-teal);
  border-radius: var(--br-5xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 0;
  font-size: 20px;
  font-weight: var(--font-weight-regular);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-white);
}
.log-in-container:hover {
  background-color: var(--color-cadetblue);
}
.lower-value2 {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 59px;
  height: 47px;
  font-size: var(--font-size-5xl);
  text-align: center;
}
.slidecontainer {
  width:310px; /* Width of the outside container */
  padding-bottom: 20px;
  padding-top: 20px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.smalltext{
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-black);
}

.full-page-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the image stays at the bottom of the z-axis */
  background-image: '/static/public/mapbasepic.png'; /* Specify the path to your image */
  background-size: cover;
}

.text-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  text-align: center;
  z-index: -1; /* Place the text box on top of the image */
}
