body { background-color:var(--color-beige); }

.camera-icon9,
.logo-icon9,
.world-icon9 {
  width: 138px;
  position: relative;
  height: 109px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.camera-icon9,
.world-icon9 {
  width: 50px;
  height: 50px;
}
.camera-icon9 { 
  height: 44.4px;
}
.user-icon-parent7 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-73xl);
}
.user-icon-parent7 {
  gap: var(--gap-5xl);
  position: absolute;
  bottom: calc(5vh + 10px); /* 5% of viewport height + additional spacing */
  left: 0;
  right: 0; /* Ensure icons are horizontally centered */
  display: flex;
  align-items: center;
  justify-content: center;
}
.world-icon-parent7 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0; /* Ensure icons are horizontally centered */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: calc(10vh * 0.5); /* 10% of viewport height */
}

.sidebar-frame9 {
  height: 100vh;
  align-self: normal;
  justify-content: flex-start;
  gap: 10%;
  z-index: 1;
  position: fixed;
  top: 0.1px;
  left: 0.1px;
}
.sidebar-frame9 {
  left: 0;
  background-color: var(--color-ivory-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-208xl);
}
.snapshot-page{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-size: 16px;
    color: var(--color-black);
    font-family: var(--font-almarai);
}

.saved-image {
    width: 55vh;
    position: relative;
    height: auto;
    overflow: hidden;
    flex-shrink: 0;
  }
  .imgframe {
    display: flex;
    flex-direction: column;
    align-items: left; /* Align items horizontally at the center */
    padding: 2vh;
    gap:2vh;
    background-color: var(--color-gray-100);
    }

  .horizontalframe{
    display: flex;
    flex-direction: row;
    gap: 2vh;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .overlay saved-image {
    max-width: 75%;
    max-height: 75%;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
  }
