<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/analytics-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="analytics-page">
      <div class="sidebar-frame9">
        <img
          class="logo-icon9"
          alt=""
          src="/static/public/logo@2x.png"
          id="logoImage"
        />

        <div class="world-icon-parent7">
          <img
            class="world-icon9"
            alt=""
            src="/static/public/world-icon@2x.png"
            id="worldIcon"
          />

          <img
            class="world-icon9"
            alt=""
            src="/static/public/table-icon@2x.png"
            id="tableIcon"
          />

          <img
            class="camera-icon9"
            alt=""
            src="/static/public/camera-icon@2x.png"
            id="cameraICon"
          />
        </div>
        <div class="user-icon-parent7">
          <img
            class="world-icon9"
            alt=""
            src="/static/public/user-icon@2x.png"
            id="userIcon"
          />

          <img
            class="world-icon9"
            alt=""
            src="/static/public/settings-icon@2x.png"
            id="settingsIcon"
          />
        </div>
      </div>
      <div class="bigframe">
      <div class="frame-parent14">
          <div class="table-wrapper">
            <img class="img" alt="" src="static\public\graph1.png" id="tableTest" />
            <img class="img" alt="" src="static\public\graph2.png" id="tableTest" />
          </div>
          <div class="table-wrapper">
            <img class="img" alt="" src="static\public\graph3.png" id="tableTest" />
            <img class="img" alt="" src="static\public\graph4.png" id="tableTest" />
          </div>
          <div class="table-wrapper">
            <img class="img" alt="" src="static\public\graph1.png" id="tableTest" />
            <img class="img" alt="" src="static\public\graph2.png" id="tableTest" />
          </div>
      </div>
      <div class="frame-parent16">
        <div class="rectangle-group">
        <div class="frame-wrapper1">
          <div class="frame-parent17">
            <div class="frame-parent18">
              <div class="filters-wrapper">
                <b class="filters1">Filters</b>
              </div>
              <form id="searchForm" action="/analytics" method="POST">
              <div class="location-parent">
                <div class="table">Location:</div>
                  <input class = "frame-child7" type="text" name="Region" id="Region" placeholder="Enter Region...">
              </div>
              <div class="frame-parent19">
                <div class="age-wrapper">
                  <div class="age2">Age:</div>
                </div>
                <div class="lower-value-wrapper">
                  <input class="lower-value2" type="number" name="low-age" id="low-age"/>
                </div>
                <div class="to-wrapper">
                  <div class="table">to</div>
                </div>
                <div class="lower-value-wrapper">
                  <input class="lower-value2" type="number" name="high-age" id="high-age"/>
                </div>
              </div>
              <div class="year-parent">
                <div class="year">Year:</div>
                <input class="lower-value4" type="number" name="year" id="year"/>
              </div>
              <div class="location-parent">
                <div class="table">Month:</div>
                  <input class = "month-child" type="text" name="month" id="month" placeholder="Enter Month...">
              </div>
              <div class="location-parent">
                <div class="year">Sex:</div>
                <input class = "month-child" type="text" name="sex" id="sex" placeholder="Enter Sex...">
              </div> 
              <button type="submit">Search</button>
            </form>
            </div>
            <div class="frame-parent20">
              <div class="filters-wrapper">
                <b class="table">Recent Searches</b>
              </div>
              <div class="camden-female-30-41">
                &gt; {{DataToRender[2]}}
              </div>
              <div class="bristol-male-18-25">
                &gt; {{DataToRender[1]}}
              </div>
              <div class="camden-female-30-41">
                &gt; {{DataToRender[0]}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="overlay" id="overlay">
      <span class="close">&times;</span>
      <img id="overlayImg" src="" alt="">
    </div>

    <script>
      var images = document.querySelectorAll('.img');
    images.forEach(function(img) {
      img.addEventListener('click', function() {
        var overlay = document.getElementById('overlay');
        var overlayImg = document.getElementById('overlayImg');

        overlay.style.display = 'flex';
        overlayImg.src = this.src;
      });
    });

    // Add click event listener to close button
    var closeBtn = document.querySelector('.close');
    closeBtn.addEventListener('click', function() {
      var overlay = document.getElementById('overlay');
      overlay.style.display = 'none';
    });
    
      var logoImage = document.getElementById("logoImage");
      if (logoImage) {
        logoImage.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var worldIcon = document.getElementById("worldIcon");
      if (worldIcon) {
        worldIcon.addEventListener("click", function (e) {
          window.location.href = "/map";
        });
      }
      
      var tableIcon = document.getElementById("tableIcon");
      if (tableIcon) {
        tableIcon.addEventListener("click", function (e) {
          window.location.href = "/analytics";
        });
      }
      
      var cameraICon = document.getElementById("cameraICon");
      if (cameraICon) {
        cameraICon.addEventListener("click", function (e) {
          window.location.href = "/snapshot";
        });
      }
      
      var userIcon = document.getElementById("userIcon");
      if (userIcon) {
        userIcon.addEventListener("click", function (e) {
          window.location.href = "account";
        });
      }
      
      var settingsIcon = document.getElementById("settingsIcon");
      if (settingsIcon) {
        settingsIcon.addEventListener("click", function (e) {
          window.location.href = "/settings";
        });
      }
      $('form#searchForm').submit(function() {
            $(':input', this).each(function() {
                this.disabled = !($(this).val());
            });
        });

      </script>
  </body>
</html>
