<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/fake-graph4-popup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="fake-graph4-popup">
      <div class="fake-graph4-popup-child"></div>
      <div class="frame13">
        <div class="frame13">
          <textarea class="fake-graph-box"> </textarea>
        </div>
        <div class="frame15">
          <div class="graph-4-draggable-container">
            <p class="draggable">GRAPH 4</p>
            <p class="draggable">(Draggable)</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
