<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="homepage">
      <header class="frame-parent">
        <img class="frame-child" alt="" src="/static/public/frame-12@2x.png" />

        <div class="instance-parent">
          <button class="log-in-wrapper" id="frameButton">
            <div class="log-in">Log In</div>
          </button>
          <button class="log-in-wrapper" id="frameButton1">
            <div class="log-in">Sign Up</div>
          </button>
        </div>
      </header>
      <main class="frame-group">
        <section class="frame-container">
          <div class="frame-div">
            <div class="gain-insights-into-demographic-parent">
              <h1 class="gain-insights-into">
                Gain Insights into Demographics
              </h1>
              <div class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet consectetur. Fames leo sed non semper
                id urna. Sit sapien duis libero quisque neque. Pellentesque
                pharetra mus etiam eu turpis urna. Nunc donec dui vestibulum
                feugiat non faucibus mauris enim a. Aliquet tempus neque mauris
                nam nibh
              </div>
              <div class="frame-wrapper">
                <div class="enter-your-email-to-get-starte-parent">
                  <b class="enter-your-email"
                    >Enter your email to get started:</b
                  >
                  <input
                    class="frame-item"
                    placeholder="Enter your email here..."
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="features-benefits-parent">
              <h1 class="features-benefits">Features & Benefits</h1>
              <div class="lorem-ipsum-dolor-container">
                <p class="vitae-dignissim-maecenas">
                  Lorem ipsum dolor sit amet consectetur. Non sed eleifend
                  aliquam eget aliquam in. Id a ultricies cursus nunc malesuada
                  ante eu suspendisse mattis. Felis morbi odio maecenas luctus
                  massa eget etiam. Consectetur auctor enim sodales vulputate
                  tincidunt.
                </p>
                <p class="vitae-dignissim-maecenas">
                  Vitae dignissim maecenas scelerisque vestibulum. Placerat
                  magna sit cras egestas. Et tristique mi lectus neque quam
                  aliquet. In ipsum pellentesque consequat feugiat morbi in.
                  Pulvinar porttitor nibh ultricies proin egestas. Suspendisse
                  luctus gravida blandit est ut eleifend sapien. Orci commodo
                  volutpat fringilla convallis amet mauris volutpat in. Dui
                  pretium ac hac libero ornare laoreet eget. Nisl sed malesuada
                  quam sit suspendisse nullam.
                </p>
              </div>
            </div>
          </div>
          <img class="frame-inner" alt="" src="/static/public/frame-22@2x.png" />
        </section>
        <section class="examples-of-use-parent">
          <h1 class="examples-of-use">Examples of Use</h1>
          <div class="lorem-ipsum-dolor-container1">
            <p class="vitae-dignissim-maecenas">
              Lorem ipsum dolor sit amet consectetur. Consequat nam sit magna
              elementum eget. Commodo sagittis tristique laoreet nec arcu duis
              sit mattis. Vel vitae cursus dignissim eget. Ac et eget nibh
              aenean commodo. Condimentum mattis ultrices amet sapien aenean.
              Feugiat et ante porta ornare amet eget fermentum. Eget
              sollicitudin a quam tincidunt nunc ac eleifend quam purus.
              Fermentum erat massa id turpis arcu pulvinar. Integer massa a
              nulla consequat sodales sed iaculis. Ac orci non ac non euismod
              vitae malesuada pellentesque ultrices. Mattis amet ac imperdiet
              suspendisse. Lorem vulputate vulputate nisl tortor adipiscing est
              accumsan sed quam. Id id dictum sit amet rutrum nunc phasellus.
            </p>
            <p class="vitae-dignissim-maecenas">
              Convallis leo mi montes nulla vitae. Ornare varius morbi sed
              pellentesque ultricies arcu tellus curabitur malesuada.
              Consectetur in vel faucibus nisi est urna diam. Elementum dolor
              scelerisque in luctus amet mollis massa. Odio neque eu nunc hac
              sem ornare.. Netus arcu condimentum tellus massa viverra elit
              vulputate quis. Viverra ac enim sodales tincidunt tristique elit
              malesuada. Aenean mollis massa vulputate ac justo.
            </p>
          </div>
        </section>
        <section class="frame-section">
          <div class="pricing-parent">
            <h1 class="examples-of-use">Pricing</h1>
            <div class="lorem-ipsum-dolor-container2">
              <p class="vitae-dignissim-maecenas">
                Lorem ipsum dolor sit amet consectetur. Non sed eleifend aliquam
                eget aliquam in. Id a ultricies cursus nunc malesuada ante eu
                suspendisse mattis. Felis morbi odio maecenas luctus massa eget
                etiam. Consectetur auctor enim sodales vulputate tincidunt.
              </p>
              <p class="vitae-dignissim-maecenas">
                Vitae dignissim maecenas scelerisque vestibulum. Placerat magna
                sit cras egestas. Et tristique mi lectus neque quam aliquet. In
                ipsum pellentesque consequat feugiat morbi in. Pulvinar
                porttitor nibh ultricies proin egestas. Suspendisse luctus
                gravida blandit est ut eleifend sapien. Orci commodo volutpat
                fringilla convallis amet mauris volutpat in. Dui pretium ac hac
                libero ornare laoreet eget. Nisl sed malesuada quam sit
                suspendisse nullam.
              </p>
            </div>
          </div>
          <img class="frame-icon" alt="" src="/static/public/frame-25@2x.png" />
        </section>
        <section class="frequently-asked-questions-parent">
          <h1 class="examples-of-use">Frequently Asked Questions</h1>
          <div class="lorem-ipsum-dolor-sit-amet-con-parent">
            <div class="lorem-ipsum-dolor4">
              Lorem ipsum dolor sit amet consectetur. Quis massa id nisl purus
              lobortis in dolor est suspendisse. Tristique sed sit.
            </div>
            <div class="lorem-ipsum-dolor4">
              Lorem ipsum dolor sit amet consectetur. Quis massa id nisl purus
              lobortis in dolor est suspendisse. Tristique sed sit.
            </div>
            <div class="lorem-ipsum-dolor4">
              Lorem ipsum dolor sit amet consectetur. Quis massa id nisl purus
              lobortis in dolor est suspendisse. Tristique sed sit.
            </div>
            <div class="lorem-ipsum-dolor4">
              Lorem ipsum dolor sit amet consectetur. Quis massa id nisl purus
              lobortis in dolor est suspendisse. Tristique sed sit.
            </div>
          </div>
        </section>
      </main>
      <footer class="top-line-parent">
        <div class="top-line">
          <a class="cookies" href="http://cookies.com" target="_blank"
            >Cookies
          </a>
          <b class="github">GitHub</b>
          <b class="api-reference">API Reference</b>
          <b class="api-reference">Contact Us</b>
          <b class="api-reference">Privacy</b>
        </div>
        <b class="copyright-2023">Copyright © 2023 Urban Intelligence </b>
        <div class="bottom-line">
          <div class="logos">
            <img class="x-logo-icon" alt="" src="/static/public/x-logo@2x.png" />

            <img
              class="x-logo-icon"
              alt=""
              src="/static/public/instagram-logo@2x.png"
            />

            <img class="meta-logo-icon" alt="" src="/static/public/meta-logo.svg" />
          </div>
        </div>
      </footer>
    </div>

    <script>
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          window.location.href = "/log-in";
        });
      }
      
      var frameButton1 = document.getElementById("frameButton1");
      if (frameButton1) {
        frameButton1.addEventListener("click", function (e) {
          window.location.href = "/sign-up";
        });
      }
      </script>
  </body>
</html>
